/* Wariables */


$transition: all 1s;

/* Global */

*, *::before, *::after {
        box-sizing: border-box;
}

h1, p {
   text-align: center;   
}

/* Navigation */


/* Service */
 
.services {
   div {
      text-align: center;
   }

   i {
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: orange;
    border: 2px solid orange;
    border-radius: 50%;
    text-align: center;
} 
}

/* Our Portfolio*/



.card {
   position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-image {
   img {
      width: 100% !important;
   }
}


/* Footer */

.list {
   padding-left: 0;
   list-style: none;

   .list-item {
      display: inline-block;
      font-size: 0;
      i {
         background-color: rgb(56, 56, 56);
         font-size: 20px;
         width: 40px;
         height: 40px;
         line-height: 40px;
         border-radius: 50%;
         text-align: center;
         color: white;
         text-decoration: none;
      }
   }
}


